<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/djttuldic/image/upload/v1745151888/faviconcar_zfo0fd.webp">
    <link rel="stylesheet" href="terms.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac42c3b1f7.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: #333;
}

.tc-heading {
    color: hwb(235 0% 82%);
    margin-top: 20px;
}

.tc-main-heading{
    color:chocolate;
    font-family:bree serif;
}

.tc-para {
    margin-bottom: 15px;
    text-align: justify;
    font-size:18px;
}


    </style>

</head>
<body>
    <div class="container">
    <div class="row">
    <div class="col-12 mr-auto mt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="window.location.href='/';">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
    </div>
    <div class="col-12 text-center mt-5 mb-5">
        <h1 class="tc-main-heading">Car Rental Terms and Conditions</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
    <h2 class="tc-heading">1. Eligibility</h2>
    <p class="tc-para">To rent a car, the driver must be at least 21 years old and possess a valid driver's license.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <h2 class="tc-heading">2. Rental Period</h2>
    <p class="tc-para">The rental period begins at the time of pickup and ends at the agreed return time. Late returns may incur additional charges.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <h2 class="tc-heading">3. Payment</h2>
    <p class="tc-para">Payment must be made in full at the start of the rental period. Accepted payment methods include Cash and UPI.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">  
    <h2 class="tc-heading">4. Insurance</h2>
    <p class="tc-para">All rentals include basic insurance coverage. Additional insurance options are available at extra cost.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">  
    <h2 class="tc-heading">5. Responsibilities</h2>
    <p class="tc-para">The renter is responsible for any damages to the vehicle, traffic violations, or loss of property during the rental period.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <h2 class="tc-heading">6. Fuel Policy</h2>
    <p class="tc-para">The vehicle must be returned with the same level of fuel as at the time of pickup. Additional fees may apply for refueling.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <h2 class="tc-heading">7. Cancellation Policy</h2>
    <p class="tc-para">Cancellations are strictly prohibited and cannot be accommodated under any circumstances, regardless of the timing or reason.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">   
    <h2 class="tc-heading">8. Vehicle Condition</h2>
    <p class="tc-para">The renter must inspect the vehicle before use and report any existing damage. The vehicle must be returned in the same condition as rented.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">   
    <h2 class="tc-heading">9. Additional Drivers</h2>
    <p class="tc-para">Additional drivers must be registered and meet the eligibility criteria. Unregistered drivers may void the rental agreement.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">   
    <h2 class="tc-heading">10. Mileage Limits</h2>
    <p class="tc-para">Rentals are subject to daily mileage limits as specified in the rental agreement. Excess mileage charges may apply.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">   
    <h2 class="tc-heading">11. Prohibited Uses</h2>
    <p class="tc-para">The vehicle must not be used for illegal activities, racing, or off-road driving. Violations may result in penalties.</p>
</div>
<div class="col-12 col-md-6 col-lg-4">  
    <h2 class="tc-heading">12. Emergency Assistance</h2>
    <p class="tc-para">In case of breakdown or emergency, renters must contact the rental service immediately for assistance and instructions.</p>
</div>
</div>
</div>
</body>
</html>